<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title id="title">Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center word"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div>

  <div class="row" >
  <div class="col-xs-6 text-center lead" id="jumbleLetters">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <input type="submit" name="try" />
  </form>
</div></div>

<br />

<h2 id="results"></h2>
<p id="resultList"><p>


<!-- Mismatch, already found, etc. "flashed" from Python -->

<p class="message" id="message">{{ message }}</p>

<script>

// Suppress normal form submission
$("#entry").submit( function(event) { event.preventDefault(); });

$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();
   console.log("Key input received");


   $.getJSON( "/_check", { text: txt }, 
              function(data) {
                
                rsval = data.result.matchedWord;
                mtchs = data.result.matchedList;
                trgtCnt = data.result.targetCount;
                
                //Extra Credit Section: Dynamic Highlighting of partially built words.
		var wordList = document.getElementsByClassName("col-xs-2 text-center word");
                for(var i = 0; i < wordList.length; i++){
                	var wordText = wordList.item(i).innerText;
			if(wordText.includes(txt)){
				wordTextList = wordText.split('');
				for(var c = 0; c < txt.length; c++){
					var indexNum = wordText.indexOf(txt) + c;
					
					if(indexNum != wordText.length){
						wordTextList[indexNum] = "<mark>" + wordTextList[indexNum]+"</mark>";  
					}
					           
				}
				wordList.item(i).innerHTML = wordTextList.join('');		
			}
		}
                

                if(Array.isArray(mtchs) && mtchs.length == 0){
                   console.log("is array and empty");
                }
                else{
                   console.log("mtchs: " + mtchs);
                   console.log("mtchs length: " + mtchs.length);
                }
                
                if (rsval) {
                   $("#results").html("You Found:");

                   $("#resultList").html(mtchs);

		   //Extra Credit Section: Highlight used letters.
		   var jumbleString = document.getElementById("jumbleLetters").innerText;
		   jumbleList = jumbleString.split('');
		   var highlightList = [];
                   for(var z = 0; z < mtchs.length; z++){
		   	for(var i = 0; i < txt.length; i++){
		       		for(var j = 0; j <  jumbleString.length; j++) {
			      		//If the two characters match
			      		if(mtchs[z].charAt(i) == jumbleString.charAt(j)){
				 		highlightList.push(j);
                              		}
            			}
		   	}
		   }
		   for( var i = 0; i < highlightList.length; i++){
		       jumbleList[highlightList[i]] = "<mark>"+jumbleList[highlightList[i]] +"</mark>";
		   }
		   var updateJumble = "<strong>"+jumbleList.join('')+"</strong>";
		   document.getElementById("jumbleLetters").innerHTML = updateJumble;
		   
                   //Extra Credit Section: Delete found words.
                   
                   for(var i = 0; i < wordList.length; i++){
                       var wordText = wordList.item(i).innerText;
                       
                       for(j = 0; j < mtchs.length; j++){
                           if(wordText == mtchs[j]){wordList.item(i).innerText = ""; console.log("Deleted");}
                       }
                   }
                   //If win then redirect.
                   if(mtchs.length >= trgtCnt){
                       window.location.replace("http://127.0.0.1:5000/success");
                   }
                } else {
                   $("#response").append(txt.length + " "); 
                }
               }
           );
   });
</script>


 </div> <!-- container -->
</body> </html>
